* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  background-color: #222;
  color: white;
}

#app {
  height: 100vh;
  width: 100%;
}

.altPoster {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.movie,
.tv {
  position: relative;
  margin-bottom: 3rem;
  width: 19%;
  height:23rem;
  background-color: black;
  color: white;
  cursor: pointer;
}
.info {
  opacity:0;
  width:100%;
  height:100%;
  position:absolute;
  overflow: hidden;
  padding:1rem;
  transition-duration:0.5s;
}
.poster {
  opacity:100%;
  width: 100%;
  height: 100%;
  position:absolute;
  transition-duration:0.5s; 
}